:local .background{
    background: url(https://dcrazed.com/html/bent-demo/images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
:local .overlay {
    background-color: rgba(33, 33, 33, .75);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    overflow: auto;
    height: 100%;
}
:local .title {
    font-family: 'Dosis', sans-serif;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.95em;
}
:local .title span {
    color: orange;
}
:local .title > div {
    text-align: center;
}
:local .info {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
:local .description {
    max-width: 42em;
    padding-bottom: 8em;
}
:local .description h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 4.2em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
:local .description p {
    font-size: 1.35em;
}
:local .form {
    padding-bottom: 8em;
    width: 300px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
:local .inputs {
    width: 100%;
    padding: 34px;
    background: linear-gradient(to bottom, rgba(146, 135, 187, 0.2) 0%, rgba(0, 0, 0, 0.7) 100%);
}
:local .row {
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 27px;
    display: flex;
}
:local .row > svg {
    height: 15px;
}
:local .row > input {
    color: white;
    padding-left: 9px;
    font-size: 15px;
    background: transparent;
    outline: none;
    border: none;
}
:local .row path {

    stroke: rgba(255, 255, 255, 0.9);
    fill: none;
}
:local .button {
    height: 36px;
    background: #e79630;
    font-size: 13px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
@media (max-width: 600px) {
    :local .title {
        font-size: 3.5vw;
        padding: 0em 1em 0em 1em;
    }
    :local .description h1 {
        text-align: center;
        font-size: 8.2vw;
        padding: 0em 1em 0em 1em;
    }
    :local .description p {
        font-size: 4vw;
        text-align: justify;
        padding: 0em 1em 0em 1em;
    }
}
